<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de nuestro Sistema</title>
</head>
<body>
    <h1>Bienvenido a la Guarderia</h1>
    <form action="/login" method="post">
        <label for="username">Nombre del Usuario</label>
        <input type="text" name="username" id="username" required>
        <br><br>
        <label for="password">Contraseña del Usuario</label>
        <input type="password" name="password" id="password" required>
        <br><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>